# This file is a "template" of which env vars need to be defined for your application
# Copy this file to dev.env file for development, create environment variables when deploying to production

# Configure FurryMusicDB

APPLICATION_ENV=development
APP_BASE_URL=http://localhost:8080

DATABASE_URL=postgres://postgres:I1On5uQacmOuntTgfupaGQKQl@db/postgres

# Configure PostgreSQL
POSTGRES_PASSWORD=I1On5uQacmOuntTgfupaGQKQl

# Configure Auth0
AUTH0_CLIENT_ID=

# The URL of your Auth0 tenant domain
AUTH0_DOMAIN=

# Your Auth0 application's Client Secret
AUTH0_CLIENT_SECRET=

# A long, secret value used to encrypt the session cookie.
# This can be generated using `openssl rand -hex 32` from your shell.
AUTH0_COOKIE_SECRET=
