includes:
	- vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 8

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

    paths:
        - backend/src
        - backend/bin
        - backend/public
