@import 'overrides/buttons';
@import 'overrides/tables';

body {
  height: 100vh;
  background: $topleft;
  background: linear-gradient(45deg, $topleft 0%, $bottomright 100%);

  padding: 1em 0;
}

nav {
  margin-bottom: 1em;

  .navbar-brand {
    display: flex;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
    }

    .logotype {
      line-height: 1;
      white-space: nowrap;
      display: block;
    }

    text-transform: uppercase;
    font-size: 1.1em;
    line-height: 0.9;
    font-weight: 800;
  }

  .nav-item {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.hero {
  &.is-fullheight-with-navbar {
    min-height: calc(100vh - #{$navbar-height} - 2em);
  }
}
