@import 'overrides/buttons';
@import 'overrides/tables';

body {
  height: 100vh;
  background: $topleft;
  background: linear-gradient(45deg, $topleft 0%, $bottomright 100%);
  background-attachment: fixed;

  padding: 1em 0;
}

nav {
  margin-bottom: 1em;

  .navbar-brand {
    display: flex;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
    }

    .logotype {
      line-height: 1;
      white-space: nowrap;
      display: block;
    }

    text-transform: uppercase;
    font-size: 1.1em;
    line-height: 0.9;
    font-weight: 800;
  }

  .nav-item {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.text-big {
  font-size: 1.25rem;
}

.text-small {
  font-size: 0.80rem;
}

img.avatar {
  width: 80px;
  height: 80px;
  border: 1px solid var(--bs-border-color);
  border-radius: 10px;

  .lg {
    width: 200px;
    height: 200px;
  }
}
