$enable-dark-mode: false;

$topleft: #3396b6;
$bottomright: #4aa995;
$mauve: #AC3F79;

$body-bg: $topleft;
$body-color: #FFF;
$primary: $mauve;
$secondary: change-color($topleft, $lightness: 30%);
$tertiary: change-color($bottomright, $lightness: 30%);

$border-color: change-color($topleft, $lightness: 50%);

$body-secondary-bg: $secondary;
$body-tertiary-bg: $tertiary;

$link-color: change-color($mauve, $lightness: 80%);
$link-hover-color: change-color($mauve, $lightness: 50%);

$font-family-sans-serif: "Dosis", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$navbar-height: 3.5rem;

$navbar-light-brand-color: #FFF;
$navbar-light-brand-hover-color: $link-color;

$navbar-light-color: #FFF;
$navbar-light-hover-color: $link-color;

$dropdown-link-hover-bg: change-color($topleft, $lightness: 20%);

@import "bootstrap/scss/variables";
