@charset "utf-8";

@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/initial-variables";

// Customize Bulma variables here
$topleft: #3396b6;
$bottomright: #4aa995;
$mauve: #AC3F79;

$body-background-color: $topleft;
$navbar-background-color: transparent;

$text: $white;
$text-light: $white-bis;
$text-strong: $white-ter;

$primary: $mauve;

@import "@oruga-ui/theme-bulma/dist/scss/components/utils/_all";

@import "bulma/bulma";
@import "@oruga-ui/theme-bulma/dist/scss/bulma";

body {
  height: 100vh;
  background: $topleft;
  background: linear-gradient(45deg, $topleft 0%, $bottomright 100%);
}

nav {
  .navbar-brand .navbar-item {
    font-size: 1.25em;
    line-height: 1.0;
  }

  .navbar-item {
    text-transform: uppercase;
    font-weight: bold;
  }
}
